/* GENERAL */

html {
	background-color: #f9fcff;
	font-family: "cocogoose";
}

.container {
	width: 978px;
	margin-left: auto;
	margin-right: auto;
}

.flex {
	display: flex;
}

@font-face {
	src: url("../fonts/PONG_Cocogoose_Regular.woff"), url("../fonts/PONG_Cocogoose_Regular.woff2");
	font-family: "pong_cocogoose"
}

@font-face {
	src: url("../fonts/CocogooseProTrial-Light.woff"), url("../fonts/CocogooseProTrial-Light.woff2");
	font-family: "cocogoose"
}

/* MAIN HEADER */

.header {
	width: auto;
	height: 60px;
	background-color: #02020c;
	color: #f9fcff;
	margin-bottom: 30px;
	text-decoration: none;
}

/* this stuff is duplicated and kinda inefficient, fix later */
.header_logo {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	height: 32px;
	transition-duration: 0.3s;
}

.header_logo:hover {
	background-color: #33343d;
	transition-duration: 0.1s;
}

.header_button {
	font-family: "pong_cocogoose";
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 20px;
	padding-right: 20px;
	transition-duration: 0.3s;
}

.header_buttom {
	text-decoration: none;
}

.header_button:hover {
	background-color: #33343d;
	transition-duration: 0.1s;
}

nav a {
	text-decoration: none;
	color: #f9fcff;
}