/* GENERAL */

html {
	background-color: #f9fcff;
	font-family: "cocogoose";
}

.container {
	width: 978px;
	margin-left: auto;
	margin-right: auto;
}

.dark_bg {
	background-color: #02020c;
	color:#f9fcff;
	padding-top: 30px;
}

.flex {display: flex;}
.block {display: block;}

h1 {
	font-family: "pong_cocogoose";
	font-size: 24px;
	margin-bottom: 15px;
}

p {
	line-height: 20px;
}

@font-face {
	src: url("../fonts/PONG_Cocogoose_Regular.woff"), url("../fonts/PONG_Cocogoose_Regular.woff2");
	font-family: "pong_cocogoose"
}

@font-face {
	src: url("../fonts/CocogooseProTrial-Light.woff"), url("../fonts/CocogooseProTrial-Light.woff2");
	font-family: "cocogoose"
}

/* MAIN HEADER */

.header {
	width: auto;
	height: 60px;
	background-color: #02020c;
	color: #f9fcff;
	margin-bottom: 30px;
	text-decoration: none;
}

/* this stuff is duplicated and kinda inefficient, fix later */
.header_logo {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	height: 32px;
	transition-duration: 0.3s;
}

.header_logo:hover {
	background-color: #33343d;
	transition-duration: 0.1s;
}

.header_button {
	font-family: "pong_cocogoose";
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 20px;
	padding-right: 20px;
	transition-duration: 0.3s;
}

.header_buttom {
	text-decoration: none;
}

.header_button:hover {
	background-color: #33343d;
	transition-duration: 0.1s;
}

/* this is ~~probably~~ definitely bad practice--revisit */
.selected_header_button {
	background-color: #33343d;
}

nav a {
	text-decoration: none;
	color: #f9fcff;
}

/* ABOUT PAGE (make separate stylesheet later) */

.about_page_text_container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 642px;
}

.exec_content_container {
	width: 1482px;
	margin-left: auto;
	margin-right: auto;
}

.exec_container {
	flex-wrap: wrap;
}

.exec_capsule {
	width: 474px;
	height: 138px;
	background-color: #f9fcff;
	color:#02020c;
	margin-right: 30px;
	margin-bottom: 30px;
}

.exec_capsule:nth-of-type(3n) {
	margin-right: 0px;
}

.exec_capsule img {
	width: 138x;
	height: 138px;
}

.exec_capsule_header {
	background-color: #f79423;
	color:#f9fcff;
	width: 336px;
	height: 84px;
}

.exec_capsule_header_text_container {
	padding-top: 21.5px;
}

.exec_capsule_name {
	font-family: "pong_cocogoose";
	font-size: 20px;
	margin-left:30px;
	margin-bottom: 5px;
}

.exec_capsule_role {margin-left:30px;}

.exec_capsule_link {
	width:54px;
	height:54px;
	background-color:red;
}